.cache/
env/
.*.swp  # vi swap files

#output files to ignore
application/src/computator
application/tests/check_computator
library/Makefile
library/Makefile.in
library/aclocal.m4
library/autom4te.cache/
library/build-aux/
library/config.h
library/config.h.in
library/config.log
library/config.status
library/configure
library/install-sh
library/libtool
library/src/.deps/
library/src/.libs/
library/src/Makefile
library/src/Makefile.in
library/src/libroman.la
library/src/main
library/src/main.o
library/src/roman..c
library/src/roman.lo
library/src/roman.o
library/stamp-h1
library/tests/.deps/
library/tests/.libs/
library/tests/Makefile
library/tests/Makefile.in
library/tests/check_roman
library/tests/check_roman-check_roman.o
library/tests/check_roman.log
library/tests/check_roman.trs
library/tests/test-suite.log
